<div class="container">
<h1> Welcome to BlogBlog </h1>

<br>

  <div class="hometile">
    {{#each model as |post|}}
      <!-- post=post is post(in component)=post(from template) -->
      {{post-tile post=post destroyPost="destroyPost"}}
    {{/each}}
  </div>


<br>

{{#link-to 'about'}}About{{/link-to}}
{{#link-to 'contact'}}Click here to contact us.{{/link-to}}
</div>
